
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h4 { display: inline }

.bg-success{
    padding:10px;
    margin-top:20px;
    clear:both;
}

.profilepic{
    width: 50px;
}
.nav_pic{
    width: 50px;
    margin-right: 5px;
    margin-top: 5px;
}

.highlighted {
    display: inline;
    color: red;
    text-transform: uppercase;
}