
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.bg-success{
    padding:10px;
    margin-top:20px;
    clear:both;
}

.profilepic{
    width: 50px;
}
